# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# ignore user scripts
coords.php
outputs.php
photo.php
impacts.php

# ignore dev folders
dev/
drupal-backups/
tmp_photos/

# ignore error logs
error_log
error_log_prod