# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore these folders
tmp_photos
drupal-backups
dev
error_log
error_log_prod

# Ignore these files
outputs.php
photo.php
impacts.php
coords.php
*.~csv
